server {
    listen 80;
    server_name _;

    root /var/www/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # Handle Authorization Header
    location / {
        rewrite ^/(.*)/$ /$1 permanent;
        if ($http_authorization) {
            set $http_authorization $http_authorization;
        }
    }

    # Redirect Trailing Slashes If Not A Folder
    location / {
        try_files $uri $uri/ /index.php?$query_string;
        if (!-d $request_filename) {
            rewrite ^/(.*)/$ /$1 permanent;
        }
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass php-fpm:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
